<footer>
    <!-- <div class="footerdivparent"> -->
    <div class="footerDiv">
        <p>Built and designed by Peter King</p>
        <p>golf.scorecards.app@gmail.com</p>
   </div>

    <!-- </div> -->
    <div class="hitcounter">
        <!-- hitwebcounter Code START -->
        <a href="http://www.hitwebcounter.com" target="_blank">
            <img src="http://hitwebcounter.com/counter/counter.php?page=6902747&style=0006&nbdigits=9&type=page&initCount=0" title="."
                Alt="." border="0">
        </a>
        <br/>
        <!-- hitwebcounter.com -->
        <a href="http://www.hitwebcounter.com" title="My Traffic Estimate" target="_blank" style="font-family: Geneva, Arial, Helvetica; 
                                        font-size: 11px; color: #85948C; text-decoration: underline ;">
            <em>My Traffic Estimate </em>
        </a>
    </div>
</footer>