<footer>
    <!-- <div class="footerdivparent"> -->
    <div class="footerDiv">
        <p>Built and designed by Peter King</p>
        <p>golf.scorecards.app@gmail.com</p>
   </div>



    <br>
</footer>