<footer>
    <!-- <div class="footerdivparent"> -->
    <div class="footerDiv">
        <p>Built and designed by <a href="www.peterking.info">peterking.info</a></p>
        <p>golf.scorecards.app@gmail.com</p>
        <div class="smallpic"></div>
   </div>

<!-- <img class="smallpic" src="peter-lewicki-409738.jpg" alt=""> -->

    <br>
</footer>