

<!-- topnav -->
<div  class="topnav">

    <div data-aos="fade-right" data-aos-duration="2000" class="left">

        <a class="aTagTopNavDivLogo" href="/">
            Golf Scorecards App
        </a>
    </div>

    <div data-aos="fade-left" data-aos-duration="2000" class="right">

        <!-- <a href="/">Home</a> -->
        <!-- <a ng-if='ctrl.user' class="aTagTopNav" href="/scorecards">My Scorecards</a> -->
        <a class="aTagTopNav" onclick="openWeatherNav()">Weather</a>

        <!-- three lines icon -->
        <a class="threeLines" onclick="openMenuNav()">&#9776;</a>
    </div>
</div>
<!-- expanding sidenav SIGNUP -->

<div id="mySidenavSignup" class="sidenav">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNavSignup()">&times;</a>
    <div class="sideNavPadding">
        <h2 class="sideNavH2">Sign up</h2>

        <form class="formWidth" ng-submit='ctrl.registerUser()'>
            <div ng-if="ctrl.shortUser == true" id="incorrectPassword">Username too short</div>
            <div ng-if="ctrl.shortPass == true" id="incorrectPassword">Password too short</div>
            <div ng-if="ctrl.taken == true" id="incorrectPassword">Username taken</div>
            <input class="loginsignupInput" type="text" class="form-control" placeholder="username" ng-model="ctrl.newUserForm.username"
            />
            <div class="form-group">
                <input class="loginsignupInput" type="password" class="form-control" placeholder="password" ng-model="ctrl.newUserForm.password"
                />
            </div>
            <button class="scoresbutton" onclick="closeNavSignup(); closeMenuNav();" type="submit">Sign Up</button>
        </form>
    </div>
</div>
<!-- expanding sidenav LOGIN -->
<div id="mySidenavLogin" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavLogin()">&times;</a>
    <div class="sideNavPadding">
        <h2 class="sideNavH2">Login</h2>
        <form class="formWidth" ng-submit='ctrl.loginUser()'>
            <div ng-if="ctrl.badLogin == true" id="incorrectPassword">Incorrect Username/Password</div>
            <div class="form-group">
                <!-- <label for="pwd">Username: </label> -->
                <input class="loginsignupInput" type="text" class="form-control" placeholder="username" ng-model="ctrl.loginForm.username"
                />
            </div>
            <div class="form-group">
                <!-- <label for="pwd">Password: </label> -->
                <input class="loginsignupInput" type="password" class="form-control" placeholder="password" ng-model="ctrl.loginForm.password"
                />
            </div>
            <div class="checkbox"></div>
            <button class="scoresbutton" onclick="closeNavLogin()" type="submit">Login</button>
        </form>
    </div>
</div>


    <!-- weather widget -->
<div id="mySidenavWeather" class="sidenav"> 
        
        <a href="javascript:void(0)" class="closebtn" onclick="closeWeatherNav()">&times;</a>
    <div class="centerweather">
    <a href="https://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
        <!--
    By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
    -->
    </a>
    <div id="awcc1517352630222" class="aw-widget-current" data-locationkey="" data-unit="f" data-language="en-us" data-useip="true"
        data-uid="awcc1517352630222"></div>
    <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
    <div>AccuWeather</div>
    </div>
</div>




<!-- expanding sidenav Menu -->
<div id="mySidenavMenu" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeMenuNav()">&times;</a>
    <div class="sideNavPadding">
        <a class="aTagTopNav" ng-if='ctrl.user'> Welcome, {{ ctrl.user.name }} </a>

            

       
            <a class="aTagTopNav" href="#" onclick="openNavLogin(); closeMenuNav();" ng-if="!ctrl.user" style="display:inline-flex">
                <img src="css/icons8-import-50.png" style="width: 25px;height:25px; padding-right:5px;" alt=""> Login</a>
       
            <a class="aTagTopNav" href="#" onclick="openNavSignup(); closeMenuNav();" ng-if="!ctrl.user" style="display:inline-flex"><img src="css/icons8-add-user-male-50.png" style="width: 25px;height:25px; padding-right:5px;" alt=""> SignUp</a>
     
        
        

<!-- if logged in -->

            <a class="aTagTopNav" ng-if='ctrl.user' >----------</a>
            
            <a class="aTagTopNav"  ng-if='ctrl.user' href="#" ng-click="ctrl.logout();" onclick="closeMenuNav();" style="display:inline-flex"><img src="css/icons8-exit-50.png" style="width: 20px; height:25px; padding-right:5px;" alt="">LogOut</a>
       
            <a class="aTagTopNav"  >----------</a>

            <!-- <a class="aTagTopNav" ng-if='ctrl.user' href="/scorecards" style="display:inline-flex" ><img style="width: 25px; height:25px; padding-right:5px;" src="css/icons8-scorecard-50.png" alt="">Scorecards</a> -->

            <a class="aTagTopNav" href="#" onclick="openWeatherNav();closeMenuNav();" style="display:inline-flex"> <img style="width: 30px; height:30px; padding-right:5px;" src="css/icons8-stormy-weather-80.png" alt="">Weather</a>
            <a class="aTagTopNav">----------</a>

            <a class="aTagTopNav" href="/DeleteAccount" ng-if='ctrl.user'>Account Settings</a>
            <a class="aTagTopNav" ng-if='ctrl.user' >----------</a>

    </div>
</div>

<!-- expanding sidenav SIGNUP -->
<div id="mySidenavSignup" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavSignup()">&times;</a>
    <div class="sideNavPadding">
        <h2 class="sideNavH2">Sign up</h2>
        <form class="formWidth" ng-submit='ctrl.registerUser()'>
            <div ng-if="ctrl.shortUser == true" id="incorrectPassword">Username too short</div>
            <div ng-if="ctrl.shortPass == true" id="incorrectPassword">Password too short</div>
            <div ng-if="ctrl.taken == true" id="incorrectPassword">Username taken</div>
            <!-- <label for="username">Username: </label> -->
            <input class="loginsignupInput" type="text" class="form-control" placeholder="username" ng-model="ctrl.newUserForm.username"
            />
            <div class="form-group">
                <!-- <label for="pwd">Password: </label> -->
                <input class="loginsignupInput" type="password" class="form-control" placeholder="password" ng-model="ctrl.newUserForm.password"
                />
            </div>
            <button class="scoresbutton" onclick="closeNavLogin()" type="submit">Sign Up</button>
        </form>
    </div>
</div>
<!-- expanding sidenav LOGIN -->
<div id="mySidenavLogin" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavLogin()">&times;</a>
    <div class="sideNavPadding">
        <h2 class="sideNavH2">Login</h2>
        <form class="formWidth" ng-submit='ctrl.loginUser()'>
            <div ng-if="ctrl.badLogin == true" id="incorrectPassword">Incorrect Username/Password</div>
            <div class="form-group">
                <input class="loginsignupInput" type="text" class="form-control" placeholder="username" ng-model="ctrl.loginForm.username"
                />
            </div>
            <div class="form-group">

                <input class="loginsignupInput" type="password" class="form-control" placeholder="password" ng-model="ctrl.loginForm.password"
                />
            </div>
            <button class="scoresbutton" onclick="closeNavLogin()" type="submit">Login</button>
        </form>

    </div>
</div>


<!-- weather widget -->
<div id="mySidenavWeather" class="sidenav">

    <a href="javascript:void(0)" class="closebtn" onclick="closeWeatherNav()">&times;</a>
    <div class="centerweather">
        <a href="https://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
            <!--
    By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
    -->
        </a>
        <div id="awcc1517352630222" class="aw-widget-current" data-locationkey="" data-unit="f" data-language="en-us" data-useip="true"
            data-uid="awcc1517352630222"></div>
        <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
        <div>AccuWeather</div>
    </div>
</div>

<!-- start of privacy and data compliance -->
<!-- SideNavCookies  -->
<div class="displaySquares" ng-hide="ctrl.user"> 
<div id="mySidenavCookies" class="sidenavCookies">

    <div class="bottomCookiePolicyPopup">

    <div class="topOfPopUp">
       
            <h5>
                <a class="footerLink" style="margin: 0;" href="/CookiePolicy" target="_blank" rel="noopener noreferrer">View Cookie Policy</a>
                <br><br>
                Golf Scorecards App uses cookies to improve your experience. Our
                Cookie Policy provides more information and explains how to change your account settings.<br><br>
            </h5>
        </div>
        <!-- end of topOfPopUp -->


    <div class="bottomOfPopUp">
      

      


        <button href="javascript:void(0)" class="IndexScorecardsubmitAddBtn" onclick="closeNavCookies()">Accept</button>

        <br><br>
        <br><br>

        <button class="IndexScorecardsubmitAddBtn">
            <a style="margin-left:25%; margin-right: 35%;" href="http://www.google.com/">Reject</a>
        </button>
        </a>
    </div>
<!-- end of bottomOfPopUp -->




    </div>
</div>
</div> 
<!-- end of cookie policiy and end of "display:none;" if logged in, this prevents pop up when logged in -->
