<!DOCTYPE html>
<html lang="en" ng-app="MyGolfScoreCardApp">

<head>
    <% include partials/head.ejs %>
</head>
<br>
<br>

<body>
    <h1>To delete Account email: golf.scorecards.app@gmail.com</h1>
    <h2>In Subject line write: "Delete Account"</h2>
    <h2>In text of email write: "your username"</h2>
</body>