<!DOCTYPE html>
<html lang="en" ng-app="MyGolfScoreCardApp">

<head>
    <% include partials/head.ejs %>
</head>
<br>
<br>

<body>

    
    <div class="DeleteAccountDiv">
        <h1>To Delete Account please email: </h1>

       <div class="footerLink">
          <h2>golf.scorecards.app@gmail.com</h2>
        </div>

        <h2>(1) Write in subject line: "Delete Account"</h2>
        <h2>(2) Write in text of email: " I [username] want my account to be deleted." </h2>
        <h2>(3) Click Send</h2>
        <h3>--- Allow up to 30 days for processing ---</h3>

<br><br><br>

        <h1>To Review or Update Account please email:</h1>
        <div class="footerLink">
            <h2>golf.scorecards.app@gmail.com</h2>
        </div>
    </div>
   

</body>