<!DOCTYPE html>
<html lang="en" ng-app="MyGolfScoreCardApp">

<head>
    <% include partials/head.ejs %>
</head>

<body>
   
   <div class="mainPicture">    
        <div class="mainTopText">


<div style= " height: 100px;">
<a href="/">
        <div style="width: 200px; margin: 0px" class="IndexScorecardsubmitAddBtn">
                <<< Golf Scorecard App </div>
</a>
</div>

        <h1>Digital Scorecard</h1>
        <h3>Front 9</h3>

<!-- start of Front 9 scorecard div -->
<div class="scorecardWrapperBox">

    <div class="clickableSum">


        <div class="horizontalScorecardboxDetails">
            <div class="horizontalScorecardboxName"><h2>Hole #</h2></div>
            <div class="horizontalScorecardbox"><h2># 1</h2></div>
            <div class="horizontalScorecardbox"><h2># 2</h2></div>
            <div class="horizontalScorecardbox"><h2># 3</h2></div>
            <div class="horizontalScorecardbox"><h2># 4</h2></div>
            <div class="horizontalScorecardbox"><h2># 5</h2></div>
            <div class="horizontalScorecardbox"><h2># 6</h2></div>
            <div class="horizontalScorecardbox"><h2># 7</h2></div>
            <div class="horizontalScorecardbox"><h2># 8</h2></div>
            <div class="horizontalScorecardbox"><h2># 9</h2></div>
            <div class="horizontalScorecardbox"><h2>Total</h2></div>
        </div>

        <!-- <div class="horizontalScorecardboxDetails">
            <div class="horizontalScorecardboxName">Yardage</div>
            <div class="horizontalScorecardbox">100</div>
            <div class="horizontalScorecardbox">200</div>
            <div class="horizontalScorecardbox">300</div>
            <div class="horizontalScorecardbox">400</div>
            <div class="horizontalScorecardbox">500</div>
            <div class="horizontalScorecardbox">600</div>
            <div class="horizontalScorecardbox">700</div>
            <div class="horizontalScorecardbox">800</div>
            <div class="horizontalScorecardbox">900</div>
        </div>
        <div class="horizontalScorecardboxDetails">
            <div class="horizontalScorecardboxName">Par</div>
            <div class="horizontalScorecardbox">3</div>
            <div class="horizontalScorecardbox">3</div>
            <div class="horizontalScorecardbox">4</div>
            <div class="horizontalScorecardbox">4</div>
            <div class="horizontalScorecardbox">5</div>
            <div class="horizontalScorecardbox">3</div>
            <div class="horizontalScorecardbox">5</div>
            <div class="horizontalScorecardbox">5</div>
            <div class="horizontalScorecardbox">3</div>
        </div> -->

        <!-- end of Hole#, Yardage, Par  -->



        <!--////////////////// row 1 ////// -->

        <a class="flexlinkdisplay" href="javascript:sumAllRows()">

            <div class="horizontalScorecard">
                <div class="horizontalScorecardboxName"> <input class="horizontalInput" type="text" name="row1name"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row1"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row1"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row1"
                        id="inputBox" /><br>

                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row1"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row1"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row1"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row1"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row1"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row1"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox">

                    <input class="horizontalInput" type="text" id="total" name="total" />
                </div>

                <!-- <a class="buttonForSum" href="javascript:sumInputs()"> <button>Sum</button> </a> -->

            </div>
        </a>
        <!-- end of sumAllRows a-tag link  -->




        <!-- Row 2   ///////////////////// -->
        <a class="flexlinkdisplay" href="javascript:sumAllRows()">
            <div class="horizontalScorecard">
                <div class="horizontalScorecardboxName"> <input class="horizontalInput" type="text" name="row2name"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row2"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row2"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row2"
                        id="inputBox" /><br>

                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row2"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row2"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row2"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row2"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row2"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row2"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox">

                    <input class="horizontalInput" type="text" id="total2" name="total2" />
                </div>

                <!-- <a href="javascript:sumInputs2()"> <button>Sum</button> </a> -->

            </div>

        </a>
        <!-- end of sumAllRows a-tag link  -->



        <!-- Row 3   ///////////////////// -->
        <a class="flexlinkdisplay" href="javascript:sumAllRows()">
            <div class="horizontalScorecard">
                <div class="horizontalScorecardboxName"> <input class="horizontalInput" type="text" name="row3name"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row3"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row3"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row3"
                        id="inputBox" /><br>

                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row3"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row3"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row3"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row3"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row3"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row3"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox">

                    <input class="horizontalInput" type="text" id="total3" name="total3" />
                </div>

                <!-- <a href="javascript:sumInputs3()"> <button>Sum</button> </a> -->

            </div>
        </a>
        <!-- end of sumAllRows a-tag link  -->





        <!-- Row 4   ///////////////////// -->

        <a class="flexlinkdisplay" href="javascript:sumAllRows()">

            <div class="horizontalScorecard">
                <div class="horizontalScorecardboxName"> <input class="horizontalInput" type="text" name="row4name"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row4"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row4"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row4"
                        id="inputBox" /><br>

                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row4"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row4"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row4"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row4"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row4"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text" name="row4"
                        id="inputBox" /><br>
                </div>

                <div class="horizontalScorecardbox">

                    <input class="horizontalInput" type="text" id="total4" name="total4" />
                </div>

                <!-- <a href="javascript:sumInputs4()"> <button>Sum</button> </a> -->

            </div>
            <!-- end of row 4 -->
        </a>
        <!-- end of sumAllRows a-tag link  -->



                <a href="javascript:resetScorecard()">
                <button>Clear Scorecard</button>
                </a>
                <!-- end of clear Scorecard -->

        </div>
            <!-- end of clickable sum  -->
</div>
<!-- end of ScorecardWrapperBox -->




<h3>Back 9</h3>

<!-- start of Back 9 scorecard div -->
<div class="scorecardWrapperBox">

        <div class="clickableSum">



<div class="horizontalScorecardboxDetails">
        <div class="horizontalScorecardboxName">
                <h2>Hole #</h2>
        </div>
        <div class="horizontalScorecardbox"><h2># 10</h2></div>
        <div class="horizontalScorecardbox"><h2># 11</h2></div>
        <div class="horizontalScorecardbox"><h2># 12</h2></div>
        <div class="horizontalScorecardbox"><h2># 13</h2></div>
        <div class="horizontalScorecardbox"><h2># 14</h2></div>
        <div class="horizontalScorecardbox"><h2># 15</h2></div>
        <div class="horizontalScorecardbox"><h2># 16</h2></div>
        <div class="horizontalScorecardbox"><h2># 17</h2></div>
        <div class="horizontalScorecardbox"><h2># 18</h2></div>
        <div class="horizontalScorecardbox">
                <h2>Total</h2>
        </div>

</div>

                <!-- <div class="horizontalScorecardboxDetails">
                        <div class="horizontalScorecardboxName">Yardage</div>
                        <div class="horizontalScorecardbox">100</div>
                        <div class="horizontalScorecardbox">200</div>
                        <div class="horizontalScorecardbox">300</div>
                        <div class="horizontalScorecardbox">400</div>
                        <div class="horizontalScorecardbox">500</div>
                        <div class="horizontalScorecardbox">600</div>
                        <div class="horizontalScorecardbox">700</div>
                        <div class="horizontalScorecardbox">800</div>
                        <div class="horizontalScorecardbox">900</div>
                </div>
                <div class="horizontalScorecardboxDetails">
                        <div class="horizontalScorecardboxName">Par</div>
                        <div class="horizontalScorecardbox">3</div>
                        <div class="horizontalScorecardbox">3</div>
                        <div class="horizontalScorecardbox">4</div>
                        <div class="horizontalScorecardbox">4</div>
                        <div class="horizontalScorecardbox">5</div>
                        <div class="horizontalScorecardbox">3</div>
                        <div class="horizontalScorecardbox">5</div>
                        <div class="horizontalScorecardbox">5</div>
                        <div class="horizontalScorecardbox">3</div>
                </div> -->

                <!-- end of Hole#, Yardage, Par  -->



                <!--////////////////// row 5 ////// -->

                <a class="flexlinkdisplay" href="javascript:sumAllRows()">

                        <div class="horizontalScorecard">
                                <div class="horizontalScorecardboxName"> <input class="horizontalInput" type="text"
                                                name="row5name" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row5" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row5" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row5" id="inputBox" /><br>

                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row5" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row5" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row5" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row5" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row5" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row5" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox">

                                        <input class="horizontalInput" type="text" id="total5" name="total5" />
                                </div>

                                <!-- <a class="buttonForSum" href="javascript:sumInputs()"> <button>Sum</button> </a> -->

                        </div>
                </a>
                <!-- end of sumAllRows a-tag link  -->




                <!-- Row 6   ///////////////////// -->
                <a class="flexlinkdisplay" href="javascript:sumAllRows()">
                        <div class="horizontalScorecard">
                                <div class="horizontalScorecardboxName"> <input class="horizontalInput" type="text"
                                                name="row6name" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row6" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row6" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row6" id="inputBox" /><br>

                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row6" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row6" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row6" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row6" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row6" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row6" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox">

                                        <input class="horizontalInput" type="text" id="total6" name="total6" />
                                </div>

                                <!-- <a href="javascript:sumInputs2()"> <button>Sum</button> </a> -->

                        </div>

                </a>
                <!-- end of sumAllRows a-tag link  -->



                <!-- Row 7   ///////////////////// -->
                <a class="flexlinkdisplay" href="javascript:sumAllRows()">
                        <div class="horizontalScorecard">
                                <div class="horizontalScorecardboxName"> <input class="horizontalInput" type="text"
                                                name="row7name" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row7" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row7" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row7" id="inputBox" /><br>

                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row7" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row7" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row7" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row7" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row7" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row7" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox">

                                        <input class="horizontalInput" type="text" id="total7" name="total7" />
                                </div>

                                <!-- <a href="javascript:sumInputs3()"> <button>Sum</button> </a> -->

                        </div>
                </a>
                <!-- end of sumAllRows a-tag link  -->





                <!-- Row 8   ///////////////////// -->

                <a class="flexlinkdisplay" href="javascript:sumAllRows()">

                        <div class="horizontalScorecard">
                                <div class="horizontalScorecardboxName"> <input class="horizontalInput" type="text"
                                                name="row8name" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row8" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row8" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row8" id="inputBox" /><br>

                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row8" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row8" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row8" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row8" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row8" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox"> <input class="horizontalInput" type="text"
                                                name="row8" id="inputBox" /><br>
                                </div>

                                <div class="horizontalScorecardbox">

                                        <input class="horizontalInput" type="text" id="total8" name="total8" />
                                </div>

                                <!-- <a href="javascript:sumInputs4()"> <button>Sum</button> </a> -->

                        </div>
                        <!-- end of row 4 -->
                </a>
                <!-- end of sumAllRows a-tag link  -->



                <a href="javascript:resetScorecard()">
                        <button>Clear Scorecard</button>
                </a>
                <!-- end of clear Scorecard -->
                <br>
                <br>
        </div>
        <!-- end of clickable sum  -->
</div>
<!-- end of ScorecardWrapperBox -->













<!-- Start of QR code sharing -->

<h2 style="width: 200px; margin: auto auto; height:auto; text-align: center; background-color: gray;" >Scan QR code<br> </h2>
<br><br><br>

<div class="QRcode" style="margin: auto; "></div>

<!-- <div class="scorecardlinkWrapper">
        <a href="/DigitalScorecard">
                <div class="scorecardlink">
                        <br><br><br>
                        <h2 class="fontcolorwhite">Share QR code - Link to Scorecards Here: </h2>
                        <h4 class="webLinkscorecard">www.golfscorecards.app.com/DigitalScorecard</h4>
                </div>
        </a>
</div> -->


<br>
<br>







        <!-- <div>
            <a href="/">
                <button class="IndexScorecardsubmitAddBtnWelcome">
                   Return to Home Page
                </button>
            </a>
        </div> -->
            
    </div> 
    <!-- end of mainTopText -->

    </div>
    <!-- end of main picture -->

    <% include partials/footer.ejs %>

</body>
