<!DOCTYPE html>
<html lang="en" ng-app="MyGolfScoreCardApp">

<head>

    <% include partials/head.ejs %>

</head>

<body ng-controller="MainController as ctrl">

    <% include partials/nav.ejs %>

        <div class="mainPicture">
            <div class="mainTopText">

                <h1>
                    <em>Golf Scorecard App </em>
                </h1>
                <h1>Track your score quickly and conveniently</h1>
                <h3> Easiest way to track your scores at your finger tips </h3>
                <a class="IndexScorecardsubmitAddBtn" href="/scorecards">Scorecards</a>
                <a class="IndexScorecardsubmitAddBtn" onclick="openNavSignup()">Sign Up</a>

            </div>
        </div>

        <div class="title1">
            <h1>How can the Golf Scorecard App help you?</h1>
            <h3> The Golf Scorecard App allows you to conviently score your golf game in one place. You can add all your friends scores in one place. With easy one touch scoring. </h3>
        </div>





<% include partials/footer.ejs %>


</body>

</html>
