<!DOCTYPE html>
<html lang="en" ng-app="MyGolfScoreCardApp">

<head>
    <% include partials/head.ejs %>
</head>

<body ng-controller="MainController as ctrl">


<% include partials/nav.ejs %>


        <div class="mainPicture">
            <div class="mainTopText">

              

                <h1 data-aos="fade-zoom-in" data-aos-duration="3000" class="textshadow">
                    <em class="textshadow">Golf Scorecards App </em>
                </h1>
                <h3 data-aos="fade-zoom-in" data-aos-duration="3000" class="textshadow"> Digital Scorecard Solution</h3>
               
     
                <!-- <a data-aos="fade-zoom-in" data-aos-duration="3000" ng-if='ctrl.user' class="IndexScorecardsubmitAddBtn1"
                    href="/scorecards">My Scorecards</a> -->




                <!-- //////////////////////////////////////////////// -->
                <!-- if not logged in -->
                <div class="divsignuplogin">
     
                <a data-aos="fade-zoom-in" data-aos-duration="3000" ng-if="!ctrl.user" class="IndexScorecardsubmitAddBtn" onclick="openNavSignup()">Scorecards Sign Up</a>

                <a data-aos="fade-zoom-in" data-aos-duration="3000" ng-if="!ctrl.user" class="IndexScorecardsubmitAddBtn" onclick="openNavLogin()">Scorecards Login</a>




                <!-- //////////////////////////////////////////////// -->
                <!-- if logged in -->

                <a data-aos="fade-zoom-in" data-aos-duration="3000" class="IndexScorecardsubmitAddBtnWelcome" style="background-color: gray; box-shadow: none;" ng-if='ctrl.user' onclick="openMenuNav()"> Welcome, {{ ctrl.user.name}} </a>
                    <div class="center">
                        <a href="#">
                            <button ng-if="ctrl.user" href="" ng-click='ctrl.logout()'>
                                <h6 class="smallLogOut">Log Out</h6>
                            </button>
                        </a> 
                        <br>
                    </div>
                </div>
               

                <div ng-if='ctrl.user' > 

                    
                    <!-- <h2 class="textshadow">Share QR code </h2> -->
                    
                    <div class="QRcode"></div>

                        <div class="scorecardlinkWrapper">
                            <a href="/DigitalScorecard">
                                <div class="scorecardlink"  >
                                    <br><br><br>
                                    <h2 class="fontcolorwhite"> SCORECARDS <br> CLICK HERE </h2>
                                    <h4 class="webLinkscorecard">www.golfscorecardsapp.com/DigitalScorecard</h4> 
                                <img class="imageOfScorecardsScreenSave" src="css/scorecard_screensave.png" alt="scorecards" style="width: 120px;">
                                </div>
                            </a>
                        </div>

            <br>
            <br>


            </div>
            <!-- end of "if ctrl user and logged in view " -->
        </div>
        <!-- end of mainTopText -->
        </div>
        <!-- end of mainPicture -->
<div class="displaySquares"  ng-if="!ctrl.user">

        <div class="title1">
            <h3>How can the Golf Scorecards App help you?</h3>
            <h5> The Golf Scorecards App allows you to digitally score your golf game while playing. You can add all your friends scores in one place. With easy one touch scoring. </h5>
        
        </div>

        <div class="rowMainIndex">
            <div data-aos="fade-zoom-in" data-aos-duration="3000" class="box1"></div>
            <div class="box2">
                <h5 class="boxText" > Skip paper and pencil. Track your scores easily at your finger tips. </h5>
            </div>
        </div>
        <div class="rowMainIndex">
            <div class="box3"><h5 class="boxText"> Includes: +Unlimited Digital Scorecards</p> <p> +Active QR code to share scorecards </p> </h5></div>
            <div data-aos="fade-zoom-in" data-aos-duration="3000" class="box4"></div>
        </div>
        
        <!-- <div class="rowMainIndex">
            <div class="box5"></div>
            <div class="box6"></div>
        </div> -->
        <!-- <div class="rowMainIndex">
            <div class="box7"></div>
            <div class="box8"></div>
        </div> -->
        <div class="rowMainIndex">
            <div data-aos="fade-zoom-in" data-aos-duration="3000" class="box9"></div>
            <div class="box10"><h5 class="boxText"> Know which of your friends are in the lead with the instant score caclulator on scorecard. </h5></div>
        </div>
</div>

        <!-- <div class="worldRankBox">
        <script src="https://www.tourbrassie.com/widget/index?type=index&showlogo=1&showfacebook=0&bgcolor=&width=350&height=&widthsetting=optimized&unit=px&layout=table&country=&displayplayersby=country&playerlist=&showcountry=1&showaveragepoints=0&showtotalpoints=1&showsponsor=1&tour=pga-tour&limit=10"></script>
        </div> -->





<% include partials/footer.ejs %>



</body>

<script>
    AOS.init({
        // duration: 3000
    });
</script>

</html>
