<!DOCTYPE html>
<html lang="en" ng-app="MyGolfScoreCardApp">
<head>
    <% include partials/head.ejs %>
</head>
<br>
<br>
<body ng-controller="MainController as ctrl">
    <% include partials/nav.ejs %>
        <div class="mainPicturePage2">
            <!-- Add New Golfer -->
            <div class="new-scorecard-container">
                <br><br><br>
                <h3 ng-if="ctrl.user" class="addAgolferWelcome"> Welcome {{ ctrl.user.name }} !</h3>
                <a class="aTagButtonLogOut" href="#"><button ng-if="ctrl.user" href="" ng-click='ctrl.logout()'><h6 class="smallLogOut">Log Out</h6></button></a>
               
                <h2 class="addAgolfer">Starting a Round of Golf ?</h2>
                <h3 ng-if="ctrl.user" class="addAgolfer">Enter a Golfer and Course</h3>
                <h2 class="h2addWatchlist" ng-click="ctrl.addWatchlist()" class="add"></h2>
                <div ng-if="ctrl.user">
                    <form class="addAgolferForm" ng-submit="ctrl.processCreateForm(ctrl.user)">
                        <div class="addGolferinputs">
                            <input  class="addAGolferInput" type="text" ng-model="ctrl.createForm.player" placeholder="Add Golfer Name">
                            <br>
                            <input  class="addAGolferInput" type="text" ng-model="ctrl.createForm.course" placeholder="Add Golf Course Name">
                            <!-- this below makes (user_id = ctrl.user.data.id) to associate the item to user with foreign key through the Form submission in processCreateForm -->
                            <input class="addAGolferInput" type="hidden" ng-model="ctrl.createForm.user_id = ctrl.user.data.id" placeholder="{{ctrl.user.data.id}}" value="{{ctrl.user.data.id}}"/>
                        </div>
                      
                        <!-- if logged in -->
                        <button  onclick="openLeaderBoardNav()" class="ScorecardsubmitAddBtn" type="submit">Submit</button>
                        
                        <br>
                    </form>
                </div>
                <!-- if not logged in -->
                <button ng-if="!ctrl.user" class="IndexScorecardsubmitAddBtn" onclick="openNavLogin()">Login</button>
                <button ng-if="!ctrl.user" class="IndexScorecardsubmitAddBtn" onclick="openNavSignup()">Sign Up</button>
                
            </div>
        </div>
        <main ng-if="ctrl.user">
            <div id="mySidenavLeaderBoard" class="sidenav2">
                <div class="navLeaderBoardClosingTag">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeLeaderBoardNav()">&times;</a>
                </div>
                <div class="containLeaderBoard">
                    <a name='leaderboard'></a>
                    <h2 class="listTopH2">Scorecards & Leaderboard</h2>
                    <!-- <h5 class="listTopH2">click to view</h5> -->
                    <a class="centerAtag" onclick="closeLeaderBoardNav()" ng-repeat="golfer in ctrl.golfers | orderBy: 'totalscore'" ng-if="golfer.user_id == ctrl.user.data.id" href="#{{golfer.id}}">{{golfer.player}} at {{golfer.course}} - score: {{golfer.totalscore}}</a>
                </div>
            </div>
            <div>
                 
                <div class="containLeaderBoard">
                    <a name='leaderboard'></a>
                    <h2 class="listTopH2">Scorecards & Leaderboard</h2>
                    <!-- <h6>click to view</h6> -->
                    <a class="centerAtag" onclick="closeLeaderBoardNav()" ng-repeat="golfer in ctrl.golfers | orderBy: 'totalscore'" ng-if="golfer.user_id == ctrl.user.data.id" href="#{{golfer.id}}">{{golfer.player}} at {{golfer.course}} - score: {{golfer.totalscore}}</a>
                </div>
            </div>
            <!-- Parent ng-repeat -->
            <div class="in-scorecard" ng-repeat="golfer in ctrl.golfers | orderBy: 'id'" ng-if="golfer.user_id == ctrl.user.data.id">
                <a name="{{golfer.id}}">
                    <!-- anchor tag destination from toplinks -->
                    <div class="scorecardimage">
                        <!-- back to top button -->
                        <div class="buttonForCheckbox">
                            <a class="aTagNoPadding" href="#top">
                                <div class="circleButton">&#8593;</div>
                            </a>
                        </div>
                        <!-- new -->
                        <div class="flexWatchlistTitle">
                            <div class="leftWatchlistBar">
                                <h3 class="WatchlistTitle"> Player: {{golfer.player}}</h3>
                                <h3 class="WatchlistTitle"> Course: {{golfer.course}}</h3>
                                <!-- <h3 class="WatchlistTitle"> user_id: {{golfer.user_id}}</h3> -->
                    <button class="buttonRemoveEdit" ng-click="ctrl.deleteGolfer(golfer.id); ctrl.updateTotalScore(golfer); ctrl.updateTotalPar(golfer)"><img style="width: 15px; height: auto;" src="css/iconsDeleteTrash.png"/></button>

                    <button class="buttonRemoveEdit2" ng-click="ctrl.toEdit = golfer" onclick="openEditGolferCourseNav()"><img style="width: 15px; height: auto;" src="css/iconEditPencil.png"/> </button>
           
                </div>

                <div class="contain-in-scorecards">
                    <!-- https://www.w3schools.com/angular/angular_tables.asp -->
                    <table>
                        <tr>
                            <th>Hole #</th>
                            <th>Par</th>
                            <th>{{golfer.player}}'s Score</th>
                            <tr ng-repeat="scorecard in golfer.scorecards | orderBy: 'id'">
                                <td>
                                    <div class="tdleftHole"># {{scorecard.holenumber}}</div>
                                    <div class="tdleftRemoveEdit">
                                        <div class="containerRemoveEditScore">
                                            <div class="removeEditScore" ng-click="ctrl.deleteScorecard(scorecard.id); ctrl.updateTotalPar(golfer); ctrl.updateTotalScore(golfer)" class="add"><img style="width: 10px; height: auto;" src="css/iconsDeleteTrash.png" /></div>
                                            <div class="removeEditScore" ng-click="ctrl.toEditScorecard = scorecard" onclick="openEditScorecardsNav()" class="add">
                                                <img style="width: 10px; height: auto;" src="css/iconEditPencil.png" /></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="insideTd">
                                        <div class="tdleft">
                                            {{scorecard.par}}
                                        </div>
                                        <div class="tdright">
                                            <button class="btnTdinc" ng-click="ctrl.incPar( scorecard )">+</button>
                                            <button class="btnTddec" ng-click="ctrl.decPar( scorecard )">-</button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="insideTd">
                                        <div class="tdleft">
                                            {{scorecard.score}}
                                        </div>
                                        <div class="tdright">
                                            <button class="btnTdinc" ng-click="ctrl.incScore( scorecard ); ctrl.updateTotalPar(golfer); ctrl.updateTotalScore(golfer)">
                                            +</button>
                                            <button class="btnTddec" ng-click="ctrl.decScore( scorecard );ctrl.updateTotalPar(golfer); ctrl.updateTotalScore(golfer)">
                                            -</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- score totals -->
                            <tr>
                                <td class="centerTd">
                                    <button ng-click="ctrl.updateTotalScore(golfer); ctrl.updateTotalPar(golfer); showScoreDiv()"
                                        class="submitAddBtn" type="submit">Check Score</button>
                                        
                                </td>
                                <td class="centerTd"> - Par -
                                    <div ng-hide="scoreToHide">{{golfer.totalpar}}</div>
                                </td>
                                <td class="centerTd"> 
                                    <div>- {{golfer.player}}'s Score -</div>
                                    <div ng-hide="scoreToHide"> {{golfer.totalscore}}</div>
                                </td>
                            </tr>
                    </table>
                    <!-- Add New Score -->
                    <div class="new-Score-container">
                        <div class="invisibleStartGame">
                            <form class="addScoreForm" ng-submit="ctrl.processCreateFormScorecards(golfer.id, golfer.scorecards)">
                                <div class="addAscoreDiv">
                                    <input class="addaScore" type="text" placeholder="add Hole #" ng-model="ctrl.createFormScorecards.holenumber">
                                    <input class="addaScore" type="text" placeholder="add par" ng-model="ctrl.createFormScorecards.par">
                                    <input class="addaScore" type="text" placeholder="add score" ng-model="ctrl.createFormScorecards.score">
                                </div>
                                <button class="submitAddBtn" type="submit" ng-click="ctrl.updateTotalPar(golfer); ctrl.updateTotalScore(golfer)">add data input</button>
                            </form>
                        </div>
                        <!-- <div ng-class="classToChange2"> -->
                        <button ng-class="submitAddBtn2" class="submitAddBtnAddHole" ng-click="ctrl.incrementingRow(golfer.id, golfer.scorecards)" type="submit">Add Next Hole</button>
                        <form class="addScoreForm" ng-submit="ctrl.startGame(golfer.id)">
                            <!-- invisible below -->
                            <div class="invisibleStartGame">
                                <input class="addaScore" type="text" name="a" placeholder="add Hole #" ng-model="ctrl.createFormScorecards.holenumber">
                                <input class="addaScore" type="text" name="b" placeholder="add par" ng-model="ctrl.createFormScorecards.par">
                                <input class="addaScore" type="text" name="c" placeholder="add score" ng-model="ctrl.createFormScorecards.score">
                            </div>
                        
                        <div class="centerAtag" onclick="openLeaderBoardNav()">
                            View Leaderboard
                        </div>
                        <br>
                        <div >
                        <a class="centerAtag" href="#top">
                        <div >
                            Add a Golfer
                        </div></a></div>
                        <br>
                        <br>
                            <button ng-class="centerAtag" class="submitAddBtnStart" type="submit">Start Game</button>
                </form>
       



                
                </div>
            </div>
    <!-- end of add new score -->
                <br>
                <!-- edit scorecards -->
                <div id="mySidenavEditScorecards" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeEditScorecardsNav()">&times;</a>
                    <div>
                        <em>Edit Scorecards</em>
                        <form ng-submit="ctrl.processEditFormscorecards(ctrl.toEditScorecard)">
                            <div class="row">
                                <input type="text" ng-model="ctrl.createFormScorecards.holenumber" placeholder="Hole # {{ctrl.toEditScorecard.holenumber}}">
                                <input type="text" ng-model="ctrl.createFormScorecards.par" placeholder=" Par {{ctrl.toEditScorecard.par}}">
                                <input type="text" ng-model="ctrl.createFormScorecards.score" placeholder="Score {{ctrl.toEditScorecard.score}}">
                                <!-- <button ng-class="submitAddBtn" class="submitAddBtn" type="submit">Submit Edit Scores</button> -->
                                <br>
                                <input class="submitEditBtn" ng-click="ctrl.updateTotalScore(golfer); ctrl.updateTotalPar(golfer)" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
               
                </div>
                <!-- Back to top button -->
                <div class="buttonForCheckbox1">
                    <a class="aTagNoPadding" href="#top">
                        <div class="circleButton">&#8593;</div>
                    </a>
                </div>
                </div>
                <!-- end of show/hide div wrapper -->
            </div>
            <!-- end of golfer in golfers ng-repeat -->
            </div>
            </div>
            <!-- end of scorecard div show -->
            </div>
          
            <!-- <a name="bottomRename"></a> -->
            <div class="sidenav" id="mySidenavEditGolferCourse">
                <a href="javascript:void(0)" class="closebtn" onclick="closeEditGolferCourseNav()">&times;</a>
                <div class="updateGolferToHide2">
                    <h3>Rename Golfer & Course</h3>
                    <form class="editModal" ng-submit="ctrl.processEditForm(ctrl.toEdit)">
                        <div class="row">
                            <input class="flexforminputsGolfers" type="text" ng-model="ctrl.createForm.player" placeholder="{{ctrl.toEdit.player}}">
                            <input class="flexforminputsGolfers" type="text" ng-model="ctrl.createForm.course" placeholder="{{ctrl.toEdit.course}}">
                            <input onclick="closeEditGolferCourseNav()" class="submitEditBtn2" type="submit">
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>
        </main>
        <% include partials/footer.ejs %>
</body>
<script>
    AOS.init({
        // duration: 3000
    });
</script>
</html>