<!DOCTYPE html>
<html lang="en" ng-app="MyGolfScoreCardApp">

<head>

    <% include partials/head.ejs %>

</head>
<br>
<br>

<body ng-controller="MainController as ctrl">

    <% include partials/nav.ejs %>
<main>

        <h2 class="listTopH2" >Scorecards and Leaderboard</h2>
        <div class="topScorecardListTitle"> List (click to find scorecard)</div>
        <a class="centerAtag" ng-repeat="golfer in ctrl.golfers | orderBy: 'totalscore'" href="#{{golfer.id}}">{{golfer.player}} at {{golfer.course}} with score: {{golfer.totalscore}}
            
        </a>
    
            <!-- <button ng-click="ctrl.getScorecards()"> find score</button> -->

        

       
            <!-- Add New Golfer -->
            <div class="new-scorecard-container">
                <h2 class="h2addWatchlist" ng-click="ctrl.addWatchlist()" class="add"></h2>
                <!-- <div ng-show="ctrl.addForm" class="ng-show"> -->
                <div>
                    <form class="addAgolferForm" ng-submit="ctrl.processCreateForm()">
                        <div class="flexforminputs">
                           
                            <input class="addAGolferInput" type="text" ng-model="ctrl.createForm.player" placeholder="Add Golfer">
                            <input class="addAGolferInput" type="text" ng-model="ctrl.createForm.course" placeholder="Add New Golf Course">
                            
                            
                        </div>
                        <input class="ScorecardsubmitAddBtn" type="submit">
                        
                    </form>
                </div>
            </div>
            <br>
    
    <!-- Parent ng-repeat -->
  
        <div class="in-scorecard" ng-repeat="golfer in ctrl.golfers | orderBy: 'id'">
    <a name="{{golfer.id}}"></a>
    <!-- anchor tag destination from toplinks -->
    <div class="scorecardimage">
        
        <div class="flexWatchlistTitle">
            <div class="leftWatchlistBar">
                <h3 class="WatchlistTitle"> Course: {{golfer.course}}</h3>
                <h3 class="WatchlistTitle"> Player: {{golfer.player}}</h3>
    
                <div ng-click="ctrl.deleteGolfer(golfer.id); ctrl.updateTotalScore(golfer); ctrl.updateTotalPar(golfer)" class="scorecard btnspacing">Remove</div>
                <div ng-click="ctrl.toEdit = golfer" class="scorecard btnspacing">Edit</div>
                
            </div>

            <!-- show and hide check box -->
            <div class="checkboxHideShow">
                <input type="checkbox" ng-model="showScoreCard">
            </div>
            <!-- show/hide div wrapper-->
            <!-- <div class="contain-in-scorecards" ng-show="showScoreCard"> -->
            <div class="contain-in-scorecards">

     

    <!-- /* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */ -->
    <!-- https://www.w3schools.com/angular/angular_tables.asp -->
        <table>
            <tr>
            <th>Hole #</th>
            <th>Par</th>
            <th>{{golfer.player}} Score</th>
          
            <!-- <th ng-repeat="golfer in ctrl.golfers"> {{golfer.player}} Score</th> -->
        

                <!-- nested ng-repeat -  get score prices-->
                <!-- <tr ng-repeat="score in scorecard.scorecards"> -->
                <tr ng-repeat="scorecard in golfer.scorecards | orderBy: 'id'">
               

                    <td>
                        <div class="tdleft">Hole # {{scorecard.holenumber}}</div>
                        <div class="tdright">
                        <div class="removeEditScore" ng-click="ctrl.deleteScorecard(scorecard.id); ctrl.updateTotalPar(golfer); ctrl.updateTotalScore(golfer)" class="add">Remove</div>
                        <div class="removeEditScore" ng-click="ctrl.toEditScorecard = scorecard; ctrl.updateTotalScore(golfer); ctrl.updateTotalPar(golfer)" class="add">Edit</div>
                        </div>
                    </td>
                    <td>
                        <div class="insideTd">
                        <div class="tdleft">
                             {{scorecard.par}}
                            </div>
                            <div class="tdright">
                        <button class="btnTdinc" ng-click="ctrl.incPar( scorecard )">+</button>
                        <button class="btnTddec" ng-click="ctrl.decPar( scorecard )">-</button>
                        </div>
                        </div>
                    </td>
                        <td>
                            <div class="insideTd">
                            <div class="tdleft">
                                {{scorecard.score}}
                                </div>
                            <div class="tdright">
                            <button class="btnTdinc" ng-click="ctrl.incScore( scorecard ); ctrl.updateTotalPar(golfer); ctrl.updateTotalScore(golfer)"> +</button>
                            <button class="btnTddec" ng-click="ctrl.decScore( scorecard );ctrl.updateTotalPar(golfer); ctrl.updateTotalScore(golfer)"> -</button>
                            </div>
                            </div>
                        </td>
                       
                </tr>
                <!-- score totals -->
                <tr>
                    <td>Hole #</td>
                    <td> Par 
                        <!-- {{ctrl.sumPar}} -->
                        <!-- {{golfer.totalpar ? golfer.totalpar : 3}} -->
                    </td>
                    <td>Score 
                        <!-- {{ctrl.sumScore}} -->
                         <!-- {{golfer.totalscore ? golfer.totalscore : 3}} -->
                        </td>
                </tr>
        </table>



            <!-- Add New Score -->
            <div class="new-Score-container">
                <!-- <em class="h2addScore" ng-click="ctrl.addScore()" class="add"></em> -->
                <!-- <div ng-show="ctrl.addForm" class="ng-show"> -->
            <div class="invisibleStartGame">
                <form class="addScoreForm" ng-submit="ctrl.processCreateFormScorecards(golfer.id, golfer.scorecards)">
                    <div class="addAscoreDiv">
                            <input class="addaScore" type="text" placeholder="add Hole #" ng-model="ctrl.createFormScorecards.holenumber">
                            <input class="addaScore" type="text" placeholder="add par" ng-model="ctrl.createFormScorecards.par" >
                            <input class="addaScore" type="text"  placeholder="add score" ng-model="ctrl.createFormScorecards.score">
                        </div>
            
                    <button class="submitAddBtn" type="submit" ng-click="ctrl.updateTotalPar(golfer); ctrl.updateTotalScore(golfer)">add data input</button>
                </form>
            </div>
            <!-- <div ng-class="classToChange2"> -->
               <button ng-class="submitAddBtn2" class="submitAddBtn" ng-click="ctrl.incrementingRow(golfer.id, golfer.scorecards)">Next Hole: default par and score</button>
            <!-- </div> -->

            <!-- removed from button because of time unefficient -->
             <!-- ; ctrl.updateTotalPar(golfer); ctrl.updateTotalScore(golfer) -->

        <form class="addScoreForm" ng-submit="ctrl.startGame(golfer.id)">
            <!-- invisible below -->
            <div class="invisibleStartGame">
                <input class="addaScore" type="text" name="a" placeholder="add Hole #" ng-model="ctrl.createFormScorecards.holenumber">
                <input class="addaScore" type="text" name="b" placeholder="add par" ng-model="ctrl.createFormScorecards.par">
                <input class="addaScore" type="text" name="c" placeholder="add score" ng-model="ctrl.createFormScorecards.score">
            </div>
            <!-- end of invisible -->
            <!-- <div ng-class="classToChange"> -->
                  <button ng-class="submitAddBtn" class="submitAddBtn" type="submit">Start Game</button>
            <!-- </div> -->
        </form>
</div>



            </div>
            <!-- end of add new score -->

                <br>
                <!-- edit scorecards -->
                <div class="dim" ng-class="(ctrl.editModalScore? 'editModalScore' : '')">
                    <div class="modal">
                        <!-- <h6 class="close" ng-click="ctrl.editModalScore = false">Close</h6> -->
                        <div>
                            <em>Edit Scorecards</em>
                            <form class="editModalScore" ng-submit="ctrl.processEditFormscorecards(ctrl.toEditScorecard)">
                                <div class="row">
                                    <input type="text" ng-model="ctrl.createFormScorecards.holenumber" placeholder="Hole # {{ctrl.toEditScorecard.holenumber}}">
                                    <input type="text" ng-model="ctrl.createFormScorecards.par" placeholder=" Par {{ctrl.toEditScorecard.par}}">
                                    <input type="text" ng-model="ctrl.createFormScorecards.score" placeholder="Score {{ctrl.toEditScorecard.score}}">
                                <!-- <button ng-class="submitAddBtn" class="submitAddBtn" type="submit">Submit Edit Scores</button> -->
                                    <input ng-click="ctrl.updateTotalScore(golfer); ctrl.updateTotalPar(golfer)" type="submit">
                                
                                </div>
                            </form>
                            <!-- Sum of score -->
                            <!-- <button ng-click="ctrl.findScore(golfer)" class="submitAddBtn" type="submit">Sum of Score</button> -->
                            <button ng-click="ctrl.updateTotalScore(golfer); ctrl.updateTotalPar(golfer); showScoreDiv(); showScoreDiv()" class="submitAddBtn" type="submit">View Total Score and Par</button>
                            <!-- <a ng-click="showScoreDiv()"> showScoreDiv?</a> -->
                            <div ng-hide="scoreToHide" >Par:{{golfer.totalpar}} and Score:{{golfer.totalscore}}</div>
                             

                             <!--  -->
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <!-- end of show/hide div wrapper -->
            </div>
            <!-- end of golfer in golfers ng-repeat -->
            </div> 
           
            </div>
            <!-- end of scorecard div show -->
            </div>




            <!-- edit watchlist -->
            <div class="dim" ng-class="(ctrl.editModal? 'editModal' : '')">
                <div class="modal">
                    <!-- <h4 class="close" ng-click="ctrl.editModal = false">Close</h4> -->
                    <div>
                        <h2>Edit Watchlist</h2>
                        <form class="editModal" ng-submit="ctrl.processEditForm(ctrl.toEdit)">
                            <div class="row">
                                <input type="text" ng-model="ctrl.createForm.course" placeholder="{{ctrl.toEdit.course}}">
                                <input type="text" ng-model="ctrl.createForm.player" placeholder="{{ctrl.toEdit.player}}">
                                <input type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>






        </main>
        <footer class="footerScorecard">
            <br> -----------Footer -----------
            <br>
        </footer>
</body>

</html>