body {
    background-color: white;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    /* min-width: 1050px; */
}

/* index page */
.mainPicture {
    background-image: url(peter-lewicki-409738.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.mainPicturePage2 {
    background-image: url(edewaa-foster-21158.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

/* Image from unsplash */

/* https://css-tricks.com/snippets/css/transparent-background-images/ */
/* .mainPicture::after {
  content: "";
image
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  color: white;

} */

.title1 {
    text-align: center;
    padding: 7%;
    background-color: #fbfafa;
}

.title {
    text-align: center;
    padding: 7%;
}

.mainTopText {
    padding: 15% 20% 10% 20%;
    color: white;
    opacity: 1;
}

main {
  padding: 16px;
  text-align: center;
  margin: 0 10%;
  /* min-width: 430px; */
}

.WatchlistTitle {
  padding: 0 15px;
}

.IndexScorecardsubmitAddBtn {
   width: auto;
    height: auto;
    padding: 10px 20px;
    margin:8px 5px 5px 5px;
    background:#2592D8;
  border:none;
  font-size:1em;
  color:white;
}

.in-scorecard {
    /* width: 460px; */
    display:flex;
}

/* top nav */
/* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
.closebtn:hover {
  color:white;
}

/* Top Nav */
.topnav {
  display:flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  /* left: 0; */
  /* background-color: #DFDFDF; */
  background-color: #2592D8;
  /* background-color: #9CC5A1; */
  /* background-color: #A9A9A9; */
  overflow-x: hidden;
  /* transition: 0.5s; */
}

a {
    text-decoration: none;
}

.topnav a {
  display: inline-block;
  text-align: left;
  width: auto;
  color: white;
}

.topnav a:hover {
  display: inline-block;
  text-align: left;
  height: auto;
  background-color: gray;
}

.threeLines {
padding: 3px 16px;
font-size: 30px;
}

.homeBtn {
  font-size: 12px;
}

/* side nav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#DFDFDF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: black;
}

a.active {
  background-color: #4CAF50;
  color: white;
}

.sideNavH2 {
  padding-left: 0;
}

input[type=text], input[type=password] {
  /* width: 30%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginsignupInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

.sideNavPadding {
  padding: 0 15px;
}

 /*w3schools login buttons https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form */

.scoresbutton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.scoresbutton:hover {
  opacity: 0.8;
}

.closebtn:hover {
  color:white;
}

.tradingViewWidget {
margin: 10px;
}

.widgetFlex {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;


}



/* scorecard page */

.scorecardimage {
    border: 1px solid black;
    margin: 20px auto;
    padding: 0px;
    width: 90%;
}


.tempOrg {
    padding-left: 100px;

}

.ScorecardTitle {
    margin-right: 10px;
    margin-left: 10px;
}

.flexScorecardTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2592D8;
    color: white;
    /* padding-left: 10px; */
}

.btnspacing {
    padding: 0 10px;
    margin-top: 22px;
    font-size: 12px;
}

.leftScorecardBar {
     display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.flexforminputs{
    display: flex;
    flex-direction: row;
    margin: 0px;

    justify-content: space-between;

}

.contain-in-scorecards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
}

.in-scorecard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.new-Score-container {
    width: 100%;
}

.new-scorecard-container {
    /* display: flex; */
    flex-direction: row;
}

.submitAddBtn .submitAddBtn2{
  width: 98%;
  height: 40px;
  padding: 0px 0px;
  margin: 5px 5px 5px 5px;
  background:green;
  border: none;
  font-size:1em;
  color:white;
  border-radius: 10px;
}


.submitAddBtn{
  width: 98%;
  height: 40px;
  padding: 0px 0px;
  margin: 5px 5px 5px 5px;
  background:green;
  border: none;
  font-size:1em;
  color:white;
  border-radius: 10px;
}


.ScorecardsubmitAddBtn {
   width: 100%;
    height: 38px;
    padding: 0px 0px;
    margin:0px 0px 0px 0px;
    background:#2592D8;
  border:none;
  font-size:1em;
  color:white;
  border-radius: 10px;
}

/* table styling on scorecard page */
/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 3px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.removeEditScore {
    font-size: 10px;
    padding-left: 10px;
}

input.addaScore {
  padding: 5px 5px 5px 5px;
  /* margin-right: 5px;  */
  height: 40px;
  width: 32%;
}

td {
  width: 25%;
  padding: 12px;
}

.insideTd {
    display: flex;
  flex-direction: row;
}

.tdleft {
width: 50%;
padding: 30px 20% 20px 20% ;
text-align: center;
vertical-align: center;
}

.tdright {
width: 50%;
padding-right: 10px;
text-align: center;
vertical-align: center;
}

.btnTdinc {
  background-color: #1d74ab;
  color: white;
  font-size: 15px;
  height: 35px;
  width: 100%;
    padding: 5px 0 10px 0;
}

.btnTddec {
  background-color: #2592D8;
  color: white;
  font-size: 15px;
  height: 35px;
  width: 100%;
  padding: 5px 0 10px 0;
  margin: 10px 0 0px 0;
}

.addAGolferInput {
  width: 49%;

}

.addAgolferForm {
width: 100%;
display: inline-block;
}

.flexforminputsAddScore {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.addScoreDiv {
width: 100%;
}

.addScoreForm {
width: 100%;
/* width: 500px; */

}

/* * {
  border: 1px solid red;
} */

.invisibleStartGame {
  display: none;
}

.displayNone{
  display: none;
}

.centerAtag {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.containList {
  text-align: center;
  display: block;
}

.topScorecardListTitle {
  padding: 14px 16px;
  text-align: center;
  margin-left:39px;
}

.listTopH2 {
  padding: 0 14px;
  margin-left:39px;
}

/* #scoreToHide {
  display: none;
} */
